* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 5em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Chelsea Market', cursive;
}

h1,
h2 {
  min-height: 10vh;
}

main {
  margin-top: 86px;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 1rem;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: black;
}

/* hero banner */

#herobanner {
  background-color: #333;
  height: 120vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 600px;
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  z-index: 1;
}

h1 span {
  color: #39ff14;
}

.ripple-background {
  position: absolute;
  top: 50%;
  left: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: whitesmoke;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #333;
}

.small {
  width: 100px;
  height: 100px;
  left: -50px;
  bottom: -50px;
}

.medium {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.large {
  width: 300px;
  height: 300px;
  left: -150px;
  bottom: -150px;
}

.xlarge {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.xxlarge {
  width: 500px;
  height: 500px;
  left: -250px;
  bottom: -250px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

/* About me section */

#about {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

#about img {
  width: 50%;
  border-radius: 5px;
}

#about h2 {
  margin-top: 50px;
}

.aboutbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}

.aboutcontent {
  display: block;
  width: 400px;
  min-height: 300px;
  background-color: #333;
  opacity: 0.7;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px black;
  transition: all 1s;
}

.aboutcontent p {
  color: whitesmoke;
  line-height: 2;
  z-index: 1;
  padding: 2rem;
  transition: all 1s;
}

.aboutcontent:hover {
  box-shadow: 0 0 5px 5px black;
}

.aboutcontent p:hover {
  color: #333;
  background-color: whitesmoke;
  border-radius: 5px;
}

/* Experience section */

/* image carousel */

#experience img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 25rem;
}

.siema {
  margin: 1rem 0;
}
